body {
    overflow: hidden;
}


#header {
    position: relative;
    background-color: rgba(100, 100, 100, 0.5);
    text-align: center;
    padding: 14px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: #ECECEC;
    font-family: Helvetica;
    font-size: 16px;
    z-index: 1000;
    margin-left: 0%;
    margin-right: 0%;
    top: -8px;
}

.jumper {
    position: absolute;
    border: 1px solid lightgray;
}

.jumper-big {
    background-color: orangered;
    width: 200px;
    height: 200px;
    z-index: 100;
}

.jumper-medium {
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
    z-index: 200;
}

.jumper-small {
    background-color: deepskyblue;
    width: 50px;
    height: 50px;
    z-index: 300;
}